@font-face {
  font-family: 'icomoon';
  src:  url('/fonts/icomoon/icomoon.eot?tlg1y6');
  src:  url('/fonts/icomoon/icomoon.eot?tlg1y6#iefix') format('embedded-opentype'),
    url('/fonts/icomoon/icomoon.ttf?tlg1y6') format('truetype'),
    url('/fonts/icomoon/icomoon.woff?tlg1y6') format('woff'),
    url('/fonts/icomoon/icomoon.svg?tlg1y6#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'Lato';
  src: url('/fonts/icomoon/Lato-BlackItalic.eot');
  src: url('/fonts/icomoon/Lato-BlackItalic.eot?#iefix') format('embedded-opentype'),
      url('/fonts/icomoon/Lato-BlackItalic.woff2') format('woff2'),
      url('/fonts/icomoon/Lato-BlackItalic.woff') format('woff'),
      url('/fonts/icomoon/Lato-BlackItalic.svg#Lato-BlackItalic') format('svg');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url('/fonts/icomoon/Lato-Regular.eot');
  src: url('/fonts/icomoon/Lato-Regular.eot?#iefix') format('embedded-opentype'),
      url('/fonts/icomoon/Lato-Regular.woff2') format('woff2'),
      url('/fonts/icomoon/Lato-Regular.woff') format('woff'),
      url('/fonts/icomoon/Lato-Regular.svg#Lato-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('/fonts/icomoon/Lato-Bold.eot');
  src: url('/fonts/icomoon/Lato-Bold.eot?#iefix') format('embedded-opentype'),
      url('/fonts/icomoon/Lato-Bold.woff2') format('woff2'),
      url('/fonts/icomoon/Lato-Bold.woff') format('woff'),
      url('/fonts/icomoon/Lato-Bold.svg#Lato-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Lato Hairline';
  src: url('/fonts/icomoon/Lato-HairlineItalic.eot');
  src: url('/fonts/icomoon/Lato-HairlineItalic.eot?#iefix') format('embedded-opentype'),
      url('/fonts/icomoon/Lato-HairlineItalic.woff2') format('woff2'),
      url('/fonts/icomoon/Lato-HairlineItalic.woff') format('woff'),
      url('/fonts/icomoon/Lato-HairlineItalic.svg#Lato-HairlineItalic') format('svg');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Lato Hairline';
  src: url('/fonts/icomoon/Lato-Hairline.eot');
  src: url('/fonts/icomoon/Lato-Hairline.eot?#iefix') format('embedded-opentype'),
      url('/fonts/icomoon/Lato-Hairline.woff2') format('woff2'),
      url('/fonts/icomoon/Lato-Hairline.woff') format('woff'),
      url('/fonts/icomoon/Lato-Hairline.svg#Lato-Hairline') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('/fonts/icomoon/Lato-Italic.eot');
  src: url('/fonts/icomoon/Lato-Italic.eot?#iefix') format('embedded-opentype'),
      url('/fonts/icomoon/Lato-Italic.woff2') format('woff2'),
      url('/fonts/icomoon/Lato-Italic.woff') format('woff'),
      url('/fonts/icomoon/Lato-Italic.svg#Lato-Italic') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url('/fonts/icomoon/Lato-LightItalic.eot');
  src: url('/fonts/icomoon/Lato-LightItalic.eot?#iefix') format('embedded-opentype'),
      url('/fonts/icomoon/Lato-LightItalic.woff2') format('woff2'),
      url('/fonts/icomoon/Lato-LightItalic.woff') format('woff'),
      url('/fonts/icomoon/Lato-LightItalic.svg#Lato-LightItalic') format('svg');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url('/fonts/icomoon/Lato-Light.eot');
  src: url('/fonts/icomoon/Lato-Light.eot?#iefix') format('embedded-opentype'),
      url('/fonts/icomoon/Lato-Light.woff2') format('woff2'),
      url('/fonts/icomoon/Lato-Light.woff') format('woff'),
      url('/fonts/icomoon/Lato-Light.svg#Lato-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('/fonts/icomoon/Lato-Black.eot');
  src: url('/fonts/icomoon/Lato-Black.eot?#iefix') format('embedded-opentype'),
      url('/fonts/icomoon/Lato-Black.woff2') format('woff2'),
      url('/fonts/icomoon/Lato-Black.woff') format('woff'),
      url('/fonts/icomoon/Lato-Black.svg#Lato-Black') format('svg');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src:  url('/fonts/icomoon.eot?m31qy1');
  src:  url('/fonts/icomoon.eot?m31qy1#iefix') format('embedded-opentype'),
    url('/fonts/icomoon.ttf?m31qy1') format('truetype'),
    url('/fonts/icomoon.woff?m31qy1') format('woff'),
    url('/fonts/icomoon.svg?m31qy1#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-more-horizontal:before {
  content: "\e900";
}
.icon-pencil2:before {
  content: "\e906";
}
.icon-floppy-disk:before {
  content: "\e962";
}
.icon-spinner9:before {
  content: "\e982";
}
.icon-bin2:before {
  content: "\e9ad";
}
.icon-plus:before {
  content: "\ea0a";
}
.icon-checkbox-checked:before {
  content: "\ea52";
}
.icon-checkbox-unchecked:before {
  content: "\ea53";
}

