  .index-page {
    background-color: #dfdfdf;
    height: 100vh;
    padding: 20px;

    &--title {
      display: flex;
      background-color: #000;
      width: 50%;
      height: 80px;

      &-container {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
      }
    }

    .todos {
      background-color: black;
      display: flex;
      justify-content: center;
      padding-top: 20px;
      flex-direction: column;

      &-add {
        width: 70%;
        align-self: center;
        display: flex;

        &--input {
          width: 90%;
          background-color: #777777;
          height: 40px;
        }

        &--save {
          width: 10%;
          height: 40px;
          background-color: #cdcdcd;
        }
      }

      &-list {
        width: 60%;
        align-self: center;
      }

      &-todo {
        display: flex;
        margin: 10px 0;

        .todo-name {
          background-color: rebeccapurple;
          width: 80%;
          height: 20px;
        }

        .todo-edit {
          background-color: silver;
          width: 10%;
          height: 20px;
        }

        .todo-complete {
          background-color: steelblue;
          width: 10%;
          height: 20px;
        }
      }
    }
  }