.list {
  list-style: none;
  padding: 0;
  margin: 1em 0;
  overflow: hidden;

  input {
    padding: 0.5em;
    width: 75%;
    margin: .5em 0;

    &:disabled {
      background: transparent;
      border: 2px solid transparent;
    }
  }

  &-controls-more {
    display: flex;
    justify-content: flex-end;
    transition: all 2s;

    &.closed {
      margin-left: 130%;
    }

    &.open {
      margin-left: 100%;
    }
  }
}